<div class="container">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-9x"></i>
            </div>
            <div class="col-md-10">
                <h3>OPPSSS!!!! Sorry...</h3>
                <p>Sorry, your access is refused due to security reasons.<br />Please go back to the previous page to
                    continue browsing. OR <strong>Please Login to access this page.</strong>
                </p>
                <a class="btn btn-danger" href="javascript:history.back()">Go Back</a>
                <a class="btn btn-success" data-toggle="modal" data-target="#darkModalForm"
                    style="cursor: pointer">Login</a>
            </div>
        </div>
    </div>
</div>