<section data-page-id="about" class="content js-content">
    <header class="box box-black margin-b-20">
        <h2 class="box-text page-title-text">About the "Tales of Tales"</h2>
    </header>
    <div class="content-text">
        <p>Story is free Bootstrap (v4.0 alpha 2) web template provided by templatemo. You can download, modify
            and use this layout for any website. Please tell your friends about us. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </p>
        <p>Vivamus imperdiet tellus lobortis tellus fermentum, at varius purus tincidunt. Aenean quis tellus
            molestie, laoreet massa a, maximus est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
    </div>
</section>