<section data-page-id="about" class="content js-content">
    <header class="box box-black margin-b-20">
        <h2 class="box-text page-title-text">About the "Tales of Tales"</h2>
    </header>
    <div class="content-text">
        <p>
            Every moment of joy, every moment of anger, rage, suffering, jealousy, euphoria and even numbness
            contributes
            to the stories we end up telling other people, even if we're not talking about those moments specifically.
            We learn from them, we change because of them, and the stories we tell evolve with each new experience.</p>
        <p>
            You don't even need to write yourself, sooner or later, somewhere down the line, someone will write
            something for you. If you love to read then this place for you, even if you love to write event then
            this is place for you.
        </p>
    </div>
</section>