.action-buttons {
    padding-top: 10px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  textarea.md-input {
    padding: 8px;
  }
  
  .outline {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
  }
  
  .result-preview {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
  }

  input.capital{
    text-transform:capitalize;
  }

  #select {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .container p{
    font-size: 15px;
    margin-bottom: auto;
  }

  .greet {
    font-size: 18px;
    font-style: italic;
  }

  angular-markdown-editor .btn {
margin: auto;
  }