:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #767575;
    --gray-dark: #434242;
    --primary: #5BC3D5;
    --secondary: #4f4f4f;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #c2c2c2;
    --dark: #434242;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

a:hover {
    color: #2ea1b5;
    text-decoration: underline
}

.table-primary, .table-primary>th, .table-primary>td {
    background-color: #d1eef3
}

.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
    border-color: #aae0e9
}

.table-hover .table-primary:hover {
    background-color: #bde7ee
}

.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
    background-color: #bde7ee
}

.form-control:focus {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #c1e8ef;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.btn-primary:hover {
    color: #fff;
    background-color: #3db8cd;
    border-color: #34b3c9
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(84, 172, 187, 0.5)
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #34b3c9;
    border-color: #31aabf
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(84, 172, 187, 0.5)
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.5)
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.5)
}

.btn-link:hover {
    color: #2ea1b5;
    text-decoration: underline
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #c1e8ef
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #e9f7f9;
    border-color: #e9f7f9
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(91, 195, 213, 0.5)
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(91, 195, 213, 0.5)
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(91, 195, 213, 0.5)
}

.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(91, 195, 213, 0.5)
}

.custom-select:focus {
    border-color: #c1e8ef;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-file-input:focus~.custom-file-label {
    border-color: #c1e8ef;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

.custom-range::-webkit-slider-thumb:active {
    background-color: #e9f7f9
}

.custom-range::-moz-range-thumb:active {
    background-color: #e9f7f9
}

.custom-range::-ms-thumb:active {
    background-color: #e9f7f9
}

.page-link:hover {
    z-index: 2;
    color: #2ea1b5;
    text-decoration: none;
    background-color: #b5b5b5;
    border-color: #a9a8a8
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.25)
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #292929;
    background-color: #34b3c9
}

a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(91, 195, 213, 0.5)
}

.alert-primary {
    color: #2f656f;
    background-color: #def3f7;
    border-color: #d1eef3
}

.alert-primary hr {
    border-top-color: #bde7ee
}

.alert-primary .alert-link {
    color: #20444b
}

.list-group-item-primary {
    color: #2f656f;
    background-color: #d1eef3
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #2f656f;
    background-color: #bde7ee
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #2f656f;
    border-color: #2f656f
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #34b3c9 !important
}

a.text-primary:hover, a.text-primary:focus {
    color: #2ea1b5 !important
}

.social-list a:hover {
    color: #34b3c9;
    background-color: rgba(255, 255, 255, 0.8)
}

.blog-nav .nav-link:hover {
    background: #34b3c9
}

.blog-nav .nav-link-prev {
    border-right: 1px solid #298fa1
}

.config-panel #color-options li.theme-1 a {
    background: #5FCB71
}

.config-panel #color-options li.theme-2 a {
    background-color: var(--primary)
}