<div class="container col-lg-12">
        <p><b><u>TERMS OF USE</u></b></p>
        <p><span>These Terms of Use including the Privacy Policy (“Terms of Use”) govern the use
                        of the website of TalesOfTales [www.talesoftales.com] (“Website”) and the content appearing on
                        the website
                        (“Content”). By using the Website including but not limited to, accessing or visiting or
                        browsing the
                        Website, you (the user) indicate your acceptance to these Terms of Use and that you agree to
                        abide by them.
                        The Terms of Use constitute a legal agreement between you, as the user of the Website and us,
                        the owner of
                        the Website. &nbsp;If you do not agree to these Terms of Use, please refrain from using this
                        Website.</span>
        </p>
        <p><span>For purposes of this Agreement, the term “Content” includes, without limitation,
                        any information, data, text, logos, photographs, video, audio, animations, written posts, text,
                        articles,
                        comments, software, scripts, graphics, themes and interactive features generated, underlying
                        source code,
                        provided or otherwise made accessible on or through the Website, including the User Generated
                        Content as
                        defined hereinafter in Clause 1.2.</span></p>
        <p><span>The Terms of Use shall be considered as part of any agreement, the reference to
                        which shall be made in that agreement and shall be read along with the terms and conditions of
                        that
                        agreement. In the event of conflict between the terms of such agreements and the Terms of Use,
                        the terms of
                        such agreements will prevail and govern so long as they relate to matters specifically
                        referenced herein and
                        this Terms of Use will apply with respect to all other matters.</span></p>
        <ol>
                <li><b> Information about us and the Website</b></li>
        </ol>
        <p><span>1.1. The Website and its content is owned and operated by TalesOfTales.</span>
        </p>
        <p><span>1.2. The Website is an online media platform that has the functionality of an
                        online intermediary enabling its users to read, create, submit, post, or display the Content on
                        or through
                        the Website (“User Generated Content”).</span></p>
        <ol start="2">
                <li><b> Access to the Website</b></li>
        </ol>
        <p><span>2.1 By accessing the Website, you agree to these Terms of Use set out at
                        talesoftales.com. The access to certain sections of the Website is conditional upon our
                        acceptance of you as
                        a “contributor” of User Content to the Website. The TalesOfTales will not be liable if for any
                        reason our
                        Website
                        is not available to you at any period of time. Further, we have the right to restrict your
                        access to the
                        whole or part of the Website.</span></p>
        <p><span>2.2. All rights that are not expressly granted to you are reserved under these
                        Terms of Use.</span></p>
        <ol start="3">
                <li><b> Registration</b></li>
        </ol>
        <p><span>3.1 Our Website as an intermediary allows users to create and post content to the
                        Website. Any Content which you have publicly posted or published on or through our Website shall
                        be publicly
                        available by default, and your profile information may appear on the Website as the creator
                        thereof.</span>
        </p>
        <p><span>3.2 If you wish to be a contributor of Content, the Website may require you to
                        create a user account by voluntarily providing your information such as your name, email address
                        etc. or by
                        logging in to your account in another service (such as Facebook, Twitter and Google, as the
                        TalesOfTales may
                        in
                        its discretion determine). You may further voluntarily provide us with additional information
                        such as your
                        date of birth, gender, location, profile picture and friend list. Unless otherwise set out our
                        in this
                        agreement personal information will only be used to operate, maintain and provide you with User
                        Generated
                        Content.</span></p>
        <p><span>3.3 For the purpose of uploading, submitting, posting etc. of User Generated
                        Content, the Website requires you to login using your personal account. Where you log in through
                        any third
                        party service, you permit us to access personal and other information from your profile for use
                        by us in
                        accordance with these Terms of Use. Such personal and other information of the user shall not be
                        used for
                        any purpose other than as required by us to operate, maintain the Website and to provide you
                        access to other
                        User Generated Content. In no event shall such information accessed by us under this clause 3 be
                        shared or
                        used in any manner other than as envisaged under these Terms of Use.</span></p>
        <ol start="4">
                <li><b> User Generated Content</b></li>
        </ol>
        <p><span>4.1 You hereby represent, warrant and covenant to the TalesOfTales that all User
                        Generated Content authored, submitted or posted by you shall be original content, developed
                        solely by you
                        through necessary research, review of facts and other bona fide means, and shall be of a high
                        quality level
                        in accordance . User Generated Content must not infringe the rights of any third party,
                        including any
                        intellectual property rights, rights of publicity, rights of privacy, rights to payment of
                        royalties and
                        residuals; or result in any tort, injury, damage or harm to any third party.</span></p>
        <p><span>4.2 While you retain certain inherent rights to the User Generated Content under
                        applicable law, and the TalesOfTales shall credit you for your contribution to the relevant User
                        Generating
                        Content by identifying you as the author. It is further agreed by you that all User Generated
                        Content
                        generated by you complies with our Community Standards. On complaint by other users or persons
                        we may remove
                        any User Generated Content if it breaches these agreed Community Standards. </span></p>
        <p><span>4.3 ,By submitting or posting User Content, you grant us an irrevocable,
                        royalty-free, license to use, display, copy, reproduce, delete, add to, prepare derivative works
                        of, publish
                        and distribute any such User Generated Content and all intellectual property rights associated
                        therewith,
                        throughout the world in any media formats, without any obligation to make any payment to you or
                        others or to
                        give you credit for the same.</span></p>
        <p><span>4.3 Any User Generated Content submitted or posted by you shall undergo a
                        screening process. This process includes review and modifications to the User Content by our
                        in-house
                        editorial team. We may consult and communicate with you in respect of any such modifications
                        required in the
                        User Content submitted or posted by you.</span></p>
        <p><span>4.4 We may modify or adapt your User Generated Content in order to transmit,
                        display or distribute it over computer networks and in various media and/or make changes to your
                        User
                        Content as are necessary to conform and adapt it to any requirements or limitations of any
                        networks,
                        devices, services or media.</span></p>
        <p><span>4.5 You further grant us the right to use your name under the license contained
                        in this clause 4.1 in association with your User Content and the promotion and advertising
                        thereof. You also
                        waive any right to inspect or approve any final version of the User Generated Content.</span>
        </p>
        <p><span>4.6 Our objective is to constantly identify and seek new channels/avenues to
                        increase our user/readership/audience. In furtherance thereto, from time to time we
                        engage/partner with
                        third party websites to share and republish the User Generated Content. To this effect, you
                        grant us the
                        unconditional right to share the User Generated Content with other third party websites.</span>
        </p>
        <ol start="5">
                <li><b> Privacy Policy</b></li>
        </ol>
        <p><span>5.1 The Website may require you to create a user account by voluntarily providing
                        your information such as your name, email address etc. or by logging in to your account in
                        another service
                        (such as Facebook, Twitter and Google, as the TalesOfTales may in its discretion determine). You
                        may further
                        voluntarily provide us with additional information as requested from time to time.</span></p>
        <p><span>5.2 We may also track certain information about you based upon your behaviour on
                        the Website. We use this information for internal research on our users’ demographics,
                        interests, and
                        behaviour to better understand, protect and serve our users. This information is compiled and
                        analysed on an
                        aggregated basis. This information may include the URL that you just came from (whether this URL
                        is on the
                        Website or not), which URL you next go to (whether this URL is on the Website or not), your
                        computer browser
                        information, your IP address, and other information associated with your interaction with the
                        Website.</span></p>
        <p><span>5.3 We also collect and store personal information provided by you from time to
                        time on the Website. We only collect and use such information from you that we consider
                        necessary for
                        achieving a seamless, efficient and safe experience, customized to your needs including:</span>
        </p>
        <ol start="2">
                <p><span>(1) To communicate necessary account and service related information from time to
                                time;</span></p>
                <p><span>(2) To undertake necessary fraud prevention checks, and comply with the security
                                standards;</span></p>
                <p><span>(3) To comply with applicable laws, rules and regulations; and</span></p>
                <p><span>(4) To provide you with information and offers, on updates, on promotions, on
                                related, affiliated or associated service providers and partners that we believe would
                                be of interest to
                                you.</span></p>
        </ol>
        <p><span>5.4 Where any interaction on the Website involves a third party, information
                        pertaining to you as collected by the TalesOfTales and is deemed reasonably necessary, may be
                        shared
                        with
                        such third party.</span></p>
        <p><span>5.5 We may also use your contact information to send you offers based on your
                        interests and prior activity. The TalesOfTales may also use contact information internally to
                        direct its
                        efforts for Content improvement, to contact you as a survey respondent, to notify you if you win
                        any
                        contest; and to send you promotional materials from its contest sponsors or advertisers.</span>
        </p>
        <p><span>5.6 Notwithstanding anything to the contrary in these Terms of Use, we may
                        disclose your information to a third party if we believe that it is reasonably necessary to
                        comply with
                        any law; to protect the safety of any person; to address fraud, security or technical issues; or
                        to
                        protect our rights and property.</span></p>
        <p><span>5.7 Although the TalesOfTales endeavours to safeguard the confidentiality of
                        your
                        personally identifiable information, you understand and agree that transmissions made by means
                        of the
                        Internet are not absolutely secure. By using the Website, you agree that the TalesOfTales will
                        have no
                        liability for disclosure of your information due to errors in transmission and/or unauthorized
                        acts of
                        third parties.</span></p>
        <ol start="6">
                <li><b> Representations and Warranties of Users</b></li>
        </ol>
        <p><span>6.1 Your entering into these Terms of Use on your own behalf to abide by the
                        Terms of Use or such other agreements that you may enter into while browsing through the
                        Website. You
                        agree to stop using the Website and inform us of any violation of law that may stop you
                        from using our
                        Website.</span></p>

        <p><span>6.2 You represent that all the information provided by you is and shall be
                        true, correct and accurate and you shall inform us of any change/ amendment in such
                        information from
                        time to time.</span></p>

        <p><span>6.3 Notwithstanding the TalesOfTales’s right to review any User Generated
                        Content
                        submitted or posted by you from time to time, you shall not seek to host, display,
                        upload, modify,
                        publish, transmit, update or share any User Generated Content that: (i) belongs to
                        another person and to
                        which you do not have any right to; (ii) is grossly harmful, harassing, libellous,
                        invasive of another’s
                        privacy, hateful or racially, ethnically objectionable, disparaging, relating or
                        encouraging money
                        laundering or gambling, otherwise unlawful in any manner whatsoever; (iii) harms minors
                        in any way; (iv)
                        infringes any patent trademark, copyright or other proprietary rights; (v) violates any
                        law for the time
                        being in force; (vi) deceives or misleads the addressee about the origin of such
                        messages or
                        communicates any information which is grossly offensive or menacing in nature; (vii)
                        impersonates
                        another person; (viii) threatens the unity, integrity, defence, security or sovereignty
                        of India,
                        friendly relations with friendly states, or public order or causes incitement to the
                        commission of any
                        cognisable offence or prevents investigation of any offence or is insulting any other
                        nation. This is
                        illustrative and does not include a violation of our community standards. Even otherwise
                        we retain the
                        right to remove information as per discretion and without assigning any reasons. </span>
        </p>

        <p><span>6.4 You will not misuse your right to the Website by introducing viruses,
                        trojans, worms or other material likely to cause harm to the Website and shall indemnify
                        and keep us
                        indemnified in case any action is initiated against us due to any loss, injury, expenses
                        or liability
                        caused to any other user of the Website or any third party. You shall further not gain
                        any unauthorised
                        access to the Website or on any other source to our Website beyond the present terms of
                        access.</span>
        </p>

        <p><span>6.5 You shall not: (i) take any action that imposes or may impose (as
                        determined by us at our sole discretion) an unreasonable or disproportionately large
                        load on our (or our
                        third party providers’) infrastructure; (ii) interfere or attempt to interfere with the
                        proper working
                        of the Website or any activities conducted on the Website; (iii) bypass, circumvent or
                        attempt to bypass
                        or circumvent any measures we may use to prevent or restrict access to the Website (or
                        other accounts,
                        computer systems or networks connected to the Website); (iv) run any form of
                        auto-responder or “spam” on
                        the Website; (v) use manual or automated software, devices, or other processes to
                        “crawl” or “spider”
                        any part of the Website; (vi) harvest or scrape any Content from the Website; or (vi)
                        otherwise take any
                        action in violation of our guidelines and policies and shall keep us indemnified in case
                        any loss,
                        injury, expenses or liability caused to us.</span></p>
        <ol start="7">
                <li><b> Our rights in relation to the Website</b></li>
        </ol>
        <p><span>7.1 We have the right to discontinue or change our Website at any time and shall
                        not be liable for the same.</span></p>
        <p><span>7.2 We may delete your account or cancel access to the Website for any reason
                        whatsoever, at any time at our discretion. We may also suspend or limit your access to the
                        Website as and
                        when may be considered necessary. For the aforesaid, we will make reasonable efforts to notify
                        you and
                        inform you of such an action and the reasons thereof, in any.</span></p>
        <p><span>7.3 We may disclose such confidential information as may be provided by you or
                        such other details about yourself as may be necessary to satisfy any governmental department or
                        authority
                        under applicable law or to any third party in accordance with the terms of the Privacy
                        Policy.</span></p>
        <p><span>7.4 With reference to Clauses 7.1, 7.2 and 7.3, you agree and understand that we
                        shall not be liable for any claim based on any termination, suspension or any of the aforesaid
                        actions taken
                        by us in relation to your access to the Website.</span></p>
        <p><span>7.5 We reserve the right to, but do not have any obligation to, (i) remove,
                        refuse to distribute, edit, modify or otherwise manipulate any Content at our sole discretion,
                        at any time,
                        without notice to you or for no reason at all, and (ii) to remove or block any Content from the
                        Website.</span></p>
        <ol start="8">
                <li><b> Intellectual Property Rights</b></li>
        </ol>
        <p><span>8.1 The Website may contain Content specifically provided by us, our partners or
                        other users and such Content is protected by copyrights, trademarks, service marks, patents,
                        trade secrets
                        or other proprietary rights and laws. You shall abide by and maintain all copyright notices,
                        information,
                        and restrictions contained in any Content accessed through the Website.</span></p>
        <p><span>8.2 When you visit our Website, we give you a limited license to access and view
                        Content for informational and personal use.</span></p>
        <p><span>8.3 You are not permitted to delete or change any copyright symbol, trademark or
                        other proprietary details contained on the Website. You shall not use our information for any
                        other purpose
                        other than for the aforesaid. You agree that any use of the proprietary information displayed on
                        the Website
                        shall infringe our intellectual property rights for which you shall indemnify us.</span></p>
        <p><span>8.4 We have intellectual property rights in all Content displayed on the Website
                        including graphics, logo, and software that is either owned or licensed to us other than any
                        third party
                        contents which are specifically identified as such. Any infringement of our intellectual
                        property rights
                        shall be governed by the applicable law in India.</span></p>
        <p><span>8.5 The license to access and use the Website does not include the right to copy
                        or reproduce the information of our Website on any other platform or medium, without our prior
                        written
                        permission.</span></p>
        <p><span>8.6 Except where otherwise specified, any word, logo or device to which is
                        attached the symbols ™ or ® shall be considered as a registered trademark that is either owned
                        by us or
                        which we have license to use. The right to use the Website does not give a license to use those
                        trademarks
                        in any way.</span></p>
        <ol start="9">
                <li><b> Linked Parties /Partners/Partner Media Campaigns</b></li>
        </ol>
        <p><span>9.1 We are a socially responsible online media platform and this gives us the
                        opportunity to partner with non-governmental organisations, corporate entities etc. to
                        collaborate on
                        specific online media campaigns (“Partner Media Campaigns”) for the purpose of awareness and
                        promotion on
                        various social and economic issues of the country.</span></p>
        <p><span>9.2 Such Partner Media Campaigns are developed, designed and created by us in
                        partnership with our partners and associates from time to time.</span></p>
        <p><span>9.3 We do not endorse any views expressed on such Partner Media Campaigns. We are
                        not responsible for any User Generated Content posted on such Partner Media Campaigns where you
                        post such
                        content. You understand that the inclusion of Partner Media Campaigns on the Website is not
                        intended as an
                        endorsement or recommendation of any Content.</span></p>
        <ol start="10">
                <li><b> Disclaimers and Limitation of Liability</b></li>
        </ol>
        <p><span>10.1 You agree and understand that the use of the Website is at your own risk.
                        The Website is being made available to you on an “as is” and “as available” basis without
                        providing any
                        warranties, guaranties or conditions as to the usage being free from any faults, defects,
                        interruptions,
                        errors, viruses or to the accuracy, reliability, availability of any Content. You agree and
                        understand that
                        we shall not be responsible for any interference or damage that may be caused to your computer
                        resource
                        which arises in connection with your access to our Website.</span></p>
        <p><span>10.2 You also agree and understand that the information displayed on the Website
                        is for information purposes only and does not to amount to any advice.</span></p>
        <p><span>10.3 To the extent permitted by applicable law, we disclaim our liability against
                        any loss, damage, expenses, liabilities, claim, injury caused due to the failure of performance,
                        omission,
                        defect, deletion, interruption, error, delay, virus, communication, unauthorised access, theft,
                        destruction,
                        alteration or use of records, whether due to breach of contract, negligence, tort or due to
                        other cause of
                        actions.</span></p>
        <p><span>10.4 Further, in no circumstances shall we be responsible for any loss of
                        profits, goodwill, revenue, consequential, exemplary, punitive damages or any financial or
                        indirect loss
                        arising out of the use of the Website.</span></p>
        <p><span>10.5 We do not endorse any views expressed on the Website and are merely a
                        platform for users to generate and display relevant Content. As such, we are not responsible for
                        any User
                        Content posted on the Website and do not endorse or subscribe to the views contained in any User
                        Content.</span></p>
        <p><span>10.6 Notwithstanding anything in the Terms of Use, the total liability for
                        damages actually incurred by you shall be limited to Rs. 25,000 (Rupees Twenty Five Thousand
                        Only). The
                        aforesaid applies to all liabilities in the aggregate, including but not limited to, liabilities
                        arising out
                        of use of the Website, any other subject matter arising out of or in relation to the use of the
                        Website.</span></p>
        <ol start="11">
                <li><b> Indemnity</b></li>
        </ol>
        <p><span>11.1 You hereby agree to indemnify and hold the TalesOfTales, its affiliates and
                        each
                        of their respective officers, directors, employees, representatives and agents (each an
                        “Indemnified Party”)
                        from and against and in respect of all liabilities, losses, costs, charges, fees and expenses,
                        including
                        reasonable legal fees and expenses, incurred in connection with any claim, allegation, suit,
                        action,
                        investigation, judgment, inquiry, demand or other proceeding arising out of, or in connection
                        with (i) your
                        failure to comply with these Terms of Use, (ii) your failure to comply with any applicable law,
                        (iii) any
                        misstatement or breach of an obligation or covenant applicable to you under these Terms of Use
                        or under any
                        conditions on the Website accepted by you, or (iv) any allegation that User Content submitted or
                        posted by
                        you infringes in any manner any intellectual property rights or any other right of any third
                        party, or
                        contains any information that is defamatory, libelous, or that otherwise violates any
                        law.</span></p>
        <ol start="12">
                <li><b> Governing Law and Dispute Resolution</b></li>
        </ol>
        <p><span>12.1. Governing Law</span></p>
        <p><span>The Terms of Use shall be governed by and construed in all respects in accordance
                        with the laws of India and subject to the Clause 12.3 below, the courts of Delhi shall have
                        exclusive
                        jurisdiction.</span></p>
        <ol start="13">
                <li><b> Amendments to the Terms of Use</b></li>
        </ol>
        <p><span>13.1 We reserve the right to amend the Terms of Use from time to time. Any
                        amendment that is made will come into effect from the moment it is displayed on the Website. The
                        updated
                        version of the Terms of Use shall supersede any of the previous versions of the Terms of
                        Use.</span></p>
        <p><span>13.2 We shall make reasonable efforts to notify users of such changes, however,
                        it shall be your responsibility to be updated with the Terms of Use at all times.</span></p>
        <p><span>The continued use of the Website shall amount to your acceptance to the Terms of
                        Use of the Website.</span></p>
        <ol start="14">
                <li><b> Miscellaneous</b></li>
        </ol>
        <p><span>14.1 No partnership or agency</span></p>
        <p><span>The Terms of Use shall not be construed so as to create a partnership or joint
                        venture between you and us. Nothing in the Terms of Use shall be construed so as to constitute
                        you and us as
                        agents of one another.</span></p>
        <p><span>14.2 Specific Performance</span></p>
        <p><span>Each one of us agrees that damages may not be an adequate remedy and that either
                        of us shall be entitled to an injunction, restraining order, right for recovery, suit for
                        specific
                        performance or such other equitable relief as a court of competent jurisdiction may deem
                        necessary or
                        appropriate to restrain the other, from committing any violation or enforce the performance of
                        the
                        covenants, representations and obligations contained in the Terms of Use. These injunctive
                        remedies are
                        cumulative and are in addition to any other rights and remedies the Parties may have at law or
                        in equity,
                        including without limitation a right for damages.</span></p>
        <p><span>14.3 Severability</span></p>
        <p><span>Each and every obligation under the Terms of Use shall be treated as a separate
                        obligation and shall be severally enforceable as such in the event of any obligation or
                        obligations being or
                        becoming unenforceable in whole or in part. Any invalid or unenforceable provision of the Terms
                        of Use shall
                        be replaced with a provision, which is valid and enforceable and most nearly reflects the
                        original intent of
                        the invalid and unenforceable provision.</span></p>
        <p><span>14.4 Non-Exclusive Remedies</span></p>
        <p><span>The rights and remedies herein provided are cumulative and none is exclusive of
                        any other, or of any rights or remedies that any of us may otherwise have at law or in
                        equity.</span></p>
        <p><span>14.5 Execution</span></p>
        <p><span>The Terms of Use shall be deemed duly executed and shall become effective and
                        binding upon you and us when you access the Website.</span></p>

</div>