.blog-post-body p {
    /* font-family: 'Telegraphem', Menlo, Monaco, Consolas, "Courier New", monospace; */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: normal;
    font-style: normal;
    color: royalblue;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
